{% extends "ExpenseApp/base.html" %}


{% block navi %}

<p>Expense App</p>
        <div class="logout" align="right">
            <a href="{% url 'login' %}" class="btn btn-link">Login</a>
            <a href="{% url 'createUser' %}" class="btn btn-link">Create User</a>
        </div>
{% endblock %}

{% block maininfo %}
    {% if form_list %}

    <ul>
        {% for eachItem in form_list %}
        <li>{{ eachItem.blog_title }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h1 align="center">Nothing Here</h1>
    {% endif %}
{% endblock %}
