{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense App</title>
    <link rel="stylesheet" href="{% static 'ExpenseApp/css/ExpenseApp.css' %}">
    <link rel="stylesheet" href="{% static 'ExpenseApp/bootstrap/bootstrap.css' %}">
    <script src="{% static 'ExpenseApp/bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'ExpenseApp/bootstrap/bootstrap.js' %}"></script>


</head>
<body>
<div class="navbar">
    <ul>
        <li><a class="active" href="{% url 'userindex' %}">Home</a></li>
        <li><a href="#news">Edit Account</a></li>
        <li><a href="#contact">Contact</a></li>

        <li>{% block navi %}
            {% endblock %}</li>
    </ul>
    <div class="userSignCheck">
    {% if user.is_authenticated %}
    User: {{ user.get_username }}
    {% else %}
    Not Logged IN
    {% endif %}
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1>Expense App</h1>
    </div>


    <div style="border: black thin solid">
        {% block maininfo %}
        {% endblock %}
    </div>

    <div style="border: black thin solid">
        {% block footer %}
        {% endblock %}
    </div>
</div>



</body>
</html>