{% extends "ExpenseApp/base.html" %}

{% block navi %}

    <li class="logout" align="right">
        <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
    </li>

{% endblock %}


{% block maininfo %}


<img src="../../static/ExpenseApp/images/deposit.png" height="71" width="214"/>
<hr/>
<form method="POST">

    {% csrf_token %}

    <label for="trans_check_id">Checking</label>
    <input type="radio" name="trans_check" value="CHECKING" id="trans_check_id" checked>
    <label for="trans_save_id">Savings</label>
    <input type="radio" name="trans_check" value="SAVINGS"  id="trans_save_id">

    <br/>
    <label for="trans_value_id">How Much to Deposit?</label>
    <input type="number" name="trans_value" id = "trans_value_id" step="0.01"/>

    <br/>
    <label for="trans_reason_id">Reason for Transaciton?</label>
    <input type="text" name="trans_reason" id = "trans_reason_id" placeholder="Personal Reasons"/>


    <button type="submit">Save</button>
</form>

{% endblock %}


{% block footer %}

{% if user.is_authenticated %}
{% if user.username == 'admin' %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'index' %}" class="btn btn-link">All Accounts</a>
            <a href="{% url 'userindex' %}" class="btn btn-link">My Accounts</a>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin Site</a>
        </h5>
    </footer>
</div>
{% elif user.username == 'student' %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'index' %}" class="btn btn-link">All Accounts</a>
            <a href="{% url 'userindex' %}" class="btn btn-link">My Accounts</a>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin Site</a>
        </h5>
    </footer>
</div>
{% else %}
<h5> || A NightxGamer Website || </h5>
{% endif %}
{% endif %}
{% endblock %}
