{% extends 'ExpenseApp/base.html' %}

{% block maininfo %}
<div class="post">
    {% if post.is_authenticated %}
    <div class="date">
        {{ post.date_Submitted }}
    </div>
    {% endif %}
    <div align="center"><b>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'edit' pk=post.pk %}">Edit Info</a>
        <br/>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'deposit' pk=post.pk %}">Deposit</a>
    </b></div>
    <h1>Username: {{ post.first_name }}</h1>
    <p>Current Balance: {{ post.current_balance|linebreaksbr }}</p>
    <p>Current Expenses:<br/>{{post.expenses}}</p>
    {% for eachTransactions in transactions %}
        <p>Deposits: {{ eachTransactions.deposits }}</p>
    {% endfor %}
</div>

{% endblock %}



{% block navi %}
<div>
    <h1><a href="{% url 'userindex' %}" class="btn-link">Blog App</a></h1>
{% if user.is_authenticated %}
User: {{ user.get_username }}
{% else %}
Not Logged IN
{% endif %}
<div class="logout" align="right">
    <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
</div>
</div>
{% endblock %}


{% block footer %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'index' %}" class="btn btn-link">List All</a>
            <a href="{% url 'userindex' %}" class="btn btn-link">List Mine</a>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin</a>
        </h5>
    </footer>
</div>
{% endblock %}

