{% extends 'ExpenseApp/base.html' %}

{% block maininfo %}
<div class="post">
    {% if post.is_authenticated %}
    <div class="date">
        {{ post.date_Submitted }}
    </div>
    {% endif %}
    <div align="center"><b>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'edit' pk=post.pk %}">Edit Info</a>
        <br/>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'deposit' pk=post.pk %}">Deposit</a>
        <br/>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'withdraw' pk=post.pk %}">Withdraw</a>
    </b></div>
    <h1>Username: {{ post.first_name }}</h1>
    <p>Current Balance: {{ post.current_balance|floatformat:2 }}</p>
    <div class="row">
    <div class="column">
    <h2>Deposits:</h2>

    {% for eachTransactions in transactions %}
        {% if eachTransactions.deposits != 0 %}
        <p>$ {{ eachTransactions.deposits|floatformat:2 }} on the {{eachTransactions.date_Submittd}}</p>
        <hr/>
        {% endif %}
    {% endfor %}
    </div>
    <br/>
    <div class="column">
    <h2>Withdraws:</h2>

    {% for eachTransactions in transactions %}
        {% if eachTransactions.withdraws != 0 %}
        <p>$ {{ eachTransactions.withdraws|floatformat:2 }} on the {{eachTransactions.date_Submittd}}</p>
        <hr/>
        {% endif %}
    {% endfor %}
    </div>
    </div>
</div>

{% endblock %}



{% block navi %}

<li class="logout" align="right">
    <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
</li>

{% endblock %}


{% block footer %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'index' %}" class="btn btn-link">List All</a>
            <a href="{% url 'userindex' %}" class="btn btn-link">List Mine</a>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin</a>
        </h5>
    </footer>
</div>
{% endblock %}

