{% extends "ExpenseApp/base.html" %}




{% block navi %}

    <li class="logout" align="right">
        <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
    </li>

{% endblock %}

{% block maininfo %}
    {% if form_list %}

<div align="center">
<img src="../../static/ExpenseApp/images/familyAcc.png" height="31" width="320">
<hr/>
</div>
    <ul>
        {% for eachItem in form_list %}
        <li><a href="{% url 'detail' pk=eachItem.pk %}" class="btn btn-link">{{ eachItem.first_name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h1 align="center">Hey buddy, you should Log In!</h1>
    {% endif %}
{% endblock %}

{% block footer %}
<div align="center">
    <footer>
        <h5>
        <a href="{% url 'index' %}" class="btn btn-link">List All</a>
        <a href="{% url 'userindex' %}" class="btn btn-link">List Mine</a>
        <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin</a>
        </h5>

    </footer>
</div>
{% endblock %}