{% extends "ExpenseApp/base.html" %}

{% block maininfo%}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% endblock %}

{% block footer %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'index' %}" class="btn btn-link">List All</a>
            <a href="{% url 'userindex' %}" class="btn btn-link">List Mine</a>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin</a>
        </h5>
    </footer>
</div>
{% endblock %}


{% block navi %}
<div>
    <div class="logout" align="right">
        <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
    </div>
</div>
{% endblock %}

